{% extends "base.html" %}

{% block title %}Notes{% endblock %}

{% block content %}

    <hr>
               
    <section class="section">
         
        <div class="columns">
            <div class="column is-2">
                <aside class="menu">
                    <p class="menu-label" style="font-size: 20px; font-weight:bold; font-family:'Times New Roman', Times, serif">Notes</p>
                    <ul class="menu-list">
                        {% for note in notes %}
                            <li>
                                <a href="{% url 'editor' %}?noteid={{ note.id }}">{{ note.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
 
            <div class="column is-5 mt-3 pt-4" >
                <h4 class="text text-center"> Test </h4>
                <br>
                <div class="box" >
                     
                    <form method="post" action="{% url 'editor' %}">
                        {% csrf_token %}
                        <input type="hidden" name="noteid" value="{{ noteid }}">
                        <div class="field">
                            <label class="label" style="font-size: 22px; font-family:'Times New Roman', Times, serif">Title</label>
                            <div class="control">
                                <input type="text" class="input" name="title" placeholder="Title" {% if note %} value="{{ note.title }}"{% endif %}>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" style="font-size: 20px; font-family:'Times New Roman', Times, serif">Content</label>
                            <div class="control">
                                <textarea class="textarea" name="content" placeholder="Content">{% if note %}{{ note.content }}{% endif %}</textarea>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary">Save</button>
                            </div>
                            {% if note %}
                                <div class="control">
                                    <a href="{% url 'delete_note' note.id %}" class="button is-danger">Delete</a>
                                </div>
                                <div class="control">
                                    <a href="{% url 'editor' %}?noteid=0" class="button is-primary">new note</a>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}